-
    let firstCardsInfo = {
        PastaIceTea: {
            img: "img/pasta.svg",
            alt: "PastaIceTea",
            topTitleFirst: "Pasta + Ice Tea",
            subText: [
                "Lorem ipsum dolor sit amet, consectetur",
                " adipiscing elit."
            ],
            buttonPrice: "$34.00",
        },
        CarbonaraPasta: {
            img: "img/carbonara.svg",
            alt: "CarbonaraPasta",
            topTitleFirst: "Carbonara & Pasta",
            subText: [
                "Lorem ipsum dolor sit amet, consectetur",
                " adipiscing elit."
            ],
            buttonPrice: "$34.00",
        },
        MieAyamPangsit: {
            img: "img/pecsele.svg",
            alt: "MieAyamPangsit",
            topTitleFirst: "Mie Ayam Pangsit",
            subText: [
                "Lorem ipsum dolor sit amet, consectetur",
                " adipiscing elit."
            ],
            buttonPrice: "$34.00",
        },
    }
mixin FirstCard(ThreeCards)
    figure.CardMixin.text-center
        figcaption.figcap
            picture 
                img(src=ThreeCards.img, alt=ThreeCards.alt)
            h5 #{ThreeCards.topTitleFirst}
            p.Card-title.text-center.mx-auto #{ThreeCards.subText}
            a(href="#").red #{ThreeCards.buttonPrice}